.banner {
    color: white;
    object-fit: contain;
    position: relative;
}

.banner_contents {
    margin-left: 3%;
    height: 5%;
    position: relative;
    z-index: 2;
}

.banner_right {
    background-color: #111;
    width: 13rem;
    border: 1px solid #c0c0c0;
    position: fixed;
    right: 3vw;
    top: 4vw;
    z-index: 10;
}

.banner_left {
    background-color: #111;
    width: 12rem;
    padding: .5rem .5rem 1rem 1rem;
    position: fixed;
    left: 12vw;
    top: 4vw;
    z-index: 10;
}

.banner_hide {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.banner_left ul li {
    list-style: none;
    padding: 0.3rem 1rem;
    cursor: pointer;
    font-size: .8rem;
    opacity: .6;
}

.banner_left ul li:hover {
    background-color: #333;
    opacity: 1;
    text-decoration: underline;
}

.banner_right a {
    text-decoration: none;
    color: white;
    font-size: .8rem;
}

.banner_right a:hover {
    text-decoration: underline;
}


.banner_right:hover .banner_hide,
.banner_hide:hover {
    display: block;
    opacity: 1;
    visibility: visible;
}

.banner_right li {
    list-style: none;
    margin-right: 2em;
    padding: .4vw .6vw;
    color: white;
    font-size: .7vw;
    cursor: pointer;
}

.banner_title {
    font-size: 4vw;
    font-weight: 800;
    padding-bottom: 1%;
    position: absolute;
    top: 15vw;
}

.banner_description {
    width: 45vw;
    line-height: 1.3;
    padding-top: 1%;
    font-size: 1.5vw;
    max-width: 50%;
    opacity: 0.9;
    position: absolute;
    top: 19vw;
}

.banner_buttons {
    display: flex;
    padding-top: 1%;
    position: absolute;
    top: 30vw;
}

.banner_button {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 1.5vw;
    border-radius: 0.2vw;
    margin-right: 1vw;
    padding: 0.5vw 3vw 0.5vw 2vw;
    background-color: rgba(51, 51, 51, 0.5);
}

.banner_button:hover {
    color: black;
    background-color: white;
    transition: all 0.2s;
}

.close__button {
    display: flex;
    align-items: center;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 1.5vw;
    border-radius: 0.2vw;
    padding: .5vw 1vw;
    background-color: rgba(51, 51, 51, 0.5);
    position: absolute;
    top: 35vw;
}

.close__button:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    transition: all 0.2s;
}

.banner_fadeBottom {
    height: 60vw;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

.banner_fadeTop {
    height: 4vw;
    background-image: linear-gradient(0deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

.banner_trailer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}