.banner {
    color: white;
    object-fit: contain;
    position: relative;
}

.banner_contents {
    margin-left: 50px;
    padding-top: 14px;
    height: 190px;
    position: relative;
    z-index: 2;
}

.banner_show {
    background-color: #111;
    margin-left: 1580px;
    margin-right: 50px;
    border: 1px solid #c0c0c0;
    position: fixed;
    z-index: 10;
}

.banner_show a {
    text-decoration: none;
    color: white;
}

.banner_show a:hover {
    text-decoration: underline;
}

.banner_hide {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.banner_show:hover .banner_hide,
.banner_hide:hover {
    display: block;
    opacity: 1;
    visibility: visible;
}

.banner_show li {
    list-style: none;
    margin-right: 20px;
    padding: 5px 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.banner_title {
    font-size: 4rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    position: absolute;
    top: 300px;
}

.banner_description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1.5rem;
    max-width: 50%;
    height: 150px;
    opacity: 0.9;
    position: absolute;
    top: 380px;
}

.banner_buttons {
    display: flex;
    padding-top: 1rem;
    position: absolute;
    top: 540px;
}

.banner_button {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 0.2vw;
    margin-right: 1rem;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
}

.banner_button:hover {
    color: black;
    background-color: white;
    transition: all 0.2s;
}

.close_button {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 0.2vw;
    margin-right: 1rem;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
    position: absolute;
    top: 560px;
}

.close_button:hover {
    color: black;
    background-color: white;
    transition: all 0.2s;
}

.banner_fadeBottom {
    height: 60rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

.banner_fadeTop {
    height: 4rem;
    background-image: linear-gradient(0deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

.banner_trailer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}